<!-- ***** fixed navbar at top ********* -->
<nav class="navbar" role="navigation">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-docnumber" href="#">EP13742066</a>
        </div>
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a class="filter-trigger" href="#">All claims <b class="caret"></b></a></li>
                <span class="dropdown-filter-group dropdown-menu">
                    <li class="btn-group btn-toggle">
                        <button class="btn btn-xs btn-default">Edited</button>
                        <button class="btn btn-xs btn-primary active">As filed</button>
                    </li>
                    <li class="btn-group btn-toggle">
                        <button class="btn btn-xs btn-default">All claims</button>
                        <button class="btn btn-xs btn-primary active">Only independent</button>
                    </li>
                    <li class="btn-group btn-multi-toggle">
                        <button class="btn btn-xs btn-default">Full claims</button>
                        <button class="btn btn-xs btn-primary active">Ft breakdown</button>
                        <button class="btn btn-xs btn-default">Tree</button>
                        <button class="btn btn-xs btn-default">Equiv</button>
                    </li>
                </span>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-eye-open"></span> Screen reading <b class="caret"></b></a>
                    <ul class="dropdown-menu document-view">
                        <li><a href="#" class="trigger-screen-reading">Screen reading</a></li>
                        <li><a href="#" class="trigger-page-layout">Page layout</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <button type="button" class="btn btn-sm btn-default" data-toggle="dropdown" data-original-title="" title=""><span class="glyphicon glyphicon-pencil"></span>  -select-  <b class="caret"></b></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>

            </ul><!-- /.nav-right -->

        </div><!-- /.navbar-collapse -->
</nav>

<!-- ********* Secondary button group ******** -->
<div class="btn-group">
    <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
            TOC <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
            Bibliographic Data <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
            Family Members <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div>
</div>