
	<ul>
        <li>
        	<a href="#" rel="application" data-toggle="tooltip" data-placement="left" title="Dossier Data">
        		<span class="glyphicon glyphicon-file"></span>
        	</a>
        </li>
        <li>   	
        	<a href="#" rel="contacts" data-toggle="tooltip" data-placement="left" title="Contacts">
        		<span class="glyphicon glyphicon-user"></span>
        	</a>
        </li>
        <li>
        	<span class="notification">1</span>
            <a href="#" rel="queryhighlights" data-toggle="tooltip" data-placement="left" title="Query and Highlights">
            	<span class="glyphicon glyphicon-question-sign"></span>
            </a>
        </li>
        <li>
        	<a href="#" rel="tags" data-toggle="tooltip" data-placement="left" title="Tags">
        		<span class="glyphicon glyphicon-tag"></span>
        	</a>
        </li>
        <li>
        	<a href="#" rel="annotations" data-toggle="tooltip" data-placement="left" title="Annotations">
        		<span class="glyphicon glyphicon-pencil"></span>
        	</a>
        </li>
        <li>
        	<a href="#" rel="fm" data-toggle="tooltip" data-placement="left" title="Feature Mapping">
        		<span class="glyphicon glyphicon-ok"></span>
        	</a>
        </li>
        <li>
        	<a href="#" rel="addnew" data-toggle="tooltip" data-placement="left" title="Add new">
        		<span class="glyphicon glyphicon-plus"></span>
        	</a>
        </li>
    </ul>
    <div class="slide-in-menu">
    	<div class="menu-item tags">
    		<h3>Tags</h3>
    		<div class="panel-group" id="accordion">
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
			          X-Document (0) <span class="caret"></span>
			        </a>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in">
			      <div class="panel-body">
			      	Web page analysis for voice browsing
			      	<hr>
			      	<button class="btn btn-primary btn-xs" id="tagswitch">Preview</button>
			      	<button class="btn btn-info btn-xs">Open in viewer</button>
			      </div>
			    </div>
			  </div><!-- /.panel -->
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
			          Y-Document (0) <span class="caret"></span>
			        </a>
			      </h4>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse">
			      <div class="panel-body">
			      	[Content here...]
			      </div>
			    </div>
			  </div><!-- /.panel -->
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
			          A-Document (0) <span class="caret"></span>
			        </a>
			      </h4>
			    </div>
			    <div id="collapseThree" class="panel-collapse collapse">
			      <div class="panel-body">
			      	[Content here...]
			      </div>
			    </div>
			  </div><!-- /.panel -->
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
			          activated navigation (0) <span class="caret"></span>
			        </a>
			      </h4>
			    </div>
			    <div id="collapseFour" class="panel-collapse collapse">
			      <div class="panel-body">
			      	[Content here...]
			      </div>
			    </div>
			  </div><!-- /.panel -->
			</div><!-- /.panel-group -->
        	<div class="preview-pane">	
        		<div class="preview">
        			<img src="images/doc-image-full.jpg" width="561" height="761" align="center">
        			<img src="images/doc-image-full.jpg" width="561" height="761" align="center">
        		</div><!-- /.preview -->
        		<br>
        		<button class="btn btn-primary btn-xs">Open in viewer</button>
        		<button class="btn btn-default btn-xs">Open as 2nd content</button>
        	</div><!-- /.preview-pane -->
    	</div><!-- /.menu-item -->
    	<div class="menu-item annotations">
    		<h3>Annotations</h3>
    		<div class="dd-group pull-left">
        		<p class="pull-left small">Type:</p>
        		<div class="btn-group">
				  <button type="button" class="btn btn-default btn-xs">All</button>
				  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
				    <span class="caret"></span>
				    <span class="sr-only">Toggle Dropdown</span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li><a href="#">Option</a></li>
				    <li><a href="#">Option</a></li>
				    <li><a href="#">Option</a></li>
				    <li class="divider"></li>
				    <li><a href="#">Additional option</a></li>
				  </ul>
				</div><!-- ./btn-group -->
			</div><!-- pull-left -->
			<div class="dd-group pull-left">
				<p class="pull-left small">Status:</p>
        		<div class="btn-group">
				  <button type="button" class="btn btn-default btn-xs">All</button>
				  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
				    <span class="caret"></span>
				    <span class="sr-only">Toggle Dropdown</span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li><a href="#">Option</a></li>
				    <li><a href="#">Option</a></li>
				    <li><a href="#">Option</a></li>
				    <li class="divider"></li>
				    <li><a href="#">Additional option</a></li>
				  </ul>
				</div><!-- /.btn-group -->
			</div><!-- /.pull-left -->
			<br clear="all">
			<div class="panel-group" id="accordion">
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
			          X-Document (0) <span class="caret"></span>
			        </a>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in">
			      <div class="panel-body">
			      	[Content here...]
			      </div>
			    </div>
			  </div><!-- /.panel -->
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
			          Y-Document (0) <span class="caret"></span>
			        </a>
			      </h4>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse">
			      <div class="panel-body">
			      	[Content here...]
			      </div>
			    </div>
			  </div><!-- /.panel -->
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
			          A-Document (0) <span class="caret"></span>
			        </a>
			      </h4>
			    </div>
			    <div id="collapseThree" class="panel-collapse collapse">
			      <div class="panel-body">
			      	[Content here...]
			      </div>
			    </div>
			  </div><!-- /.panel -->
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
			          activated navigation (0) <span class="caret"></span>
			        </a>
			      </h4>
			    </div>
			    <div id="collapseFour" class="panel-collapse collapse">
			      <div class="panel-body">
			      	[Content here...]
			      </div>
			    </div>
			  </div><!-- /.panel -->
			</div><!-- /.panel-group -->
    	</div><!-- /.annotations -->
    	<div class="menu-item queryhighlights">
    		<p>[Query builder loads here...]</p>
    		<br>
    		<br>
    	</div><!-- /.queryhighlights -->
    	
    </div><!-- /.slide-in-menu -->
