<ul class="primary">
	<li class="epNo">
		<a href="#" class="ep">
			<span class="appNo">EP...</span>
			<span class="role-identification">1st Ex</span>
		</a>		
	</li>
    <li>
        <a class="arrow-back" href="#"><span class="glyphicon glyphicon-arrow-left"></span></a>
        <a class="arrow-forward" href="#"><span class="glyphicon glyphicon-arrow-right"></span></a>
    </li>
    <li>
        <a href="#" data-toggle="tooltip" data-placement="right" title="Application"><span class="glyphicon glyphicon-file"></span></a>
        <ul role="menu" class="secondary-nav">
            <li class="title" role="presentation">Application</li>
            <li><a href="#"><span class="glyphicon glyphicon-file"></span> Current version</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Claims</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-comment"></span> Description</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-signal"></span> Figures</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-road"></span> Abstract</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-asterisk"></span> Embodiments</a></li>
            <li class="divider"></li>

            <li><a href="#">Original (Paper filing)</a></li>
            <li><a href="#">Feature Mapping Table</a></li>
            <li><a href="#">Summary</a></li>
            <li><a href="#">Bibliographic Data</a></li>
            <li><a href="#">Cited and Similar Documents</a></li>
            <li class="divider"></li>
            <li class="title" role="presentation">Citing documents</li>
            <li><a href="#">Communications draft</a></li>
        </ul>
    </li>
    <li>
        <a href="#" data-toggle="tooltip" data-placement="right" title="Search"><span class="glyphicon glyphicon-search"></span></a>
        <ul role="menu" class="secondary-nav">
            <li class="title" role="presentation">Search</li>
            <li><a href="#">Current Query (Q16)</a></li>
            <li><a href="#">Q15 (Concept search)</a></li>
            <li><a href="#">Q14 (Image search)</a></li>
            <li><a href="#">Q13 (Class search)</a></li>
            <li class="divider"></li>
            <li class="title" role="presentation">Most fruitful searches</li>
            <li><a href="#">Q05 (20 docs)</a></li>
            <li><a href="#">Q10 (10 docs)</a></li>
            <li><a href="#">Q01 (5 docs)</a></li>
        </ul>
    </li>
    <li>
    	<a href="#" data-toggle="tooltip" data-placement="right" title="Tags & viewer"><span class="glyphicon glyphicon-tags"></span></a>
    	 <ul role="menu" class="secondary-nav">
            <li class="title" role="presentation">Tags and Viewer</li>
            <li><a href="#">Unseen (24)</a></li>
            <li><a href="#">All (45)</a></li>
            <li><a href="#">Viewing History</a></li>
            <li><a href="#">Dossier Related (10)</a></li>
            <li><a href="#">Printed (8)</a></li>
            <li><a href="#">Mapped (2)</a></li>
            <li class="divider"></li>
            <li class="title" role="presentation">Personal Tags</li>
            <li><a href="#">X Document (1)</a></li>
            <li><a href="#">Y Document (2)</a></li>
            <li><a href="#">A Document (1)</a></li>
            <li><a href="#">toothbrush (1)</a></li>
            <li><a href="#">channel in the head (1)</a></li>
            <li><a href="#">store of oral care (1)</a></li>
            <li class="divider"></li>
            <li class="title" role="presentation">Recently Viewed</li>
            <li><a href="#">Doc 8</a></li>
            <li><a href="#">Doc 7</a></li>
            <li><a href="#">Doc 6</a></li>
        </ul>
    </li>
    <li>
    	<a href="#" data-toggle="tooltip" data-placement="right" title="Office actions"><span class="glyphicon glyphicon-inbox"></span></a>
    	<ul role="menu" class="secondary-nav">
            <li class="title" role="presentation">Office Actions</li>
            <li><a href="#">Communication Draft</a></li>
            <li><a href="#">Search Report</a></li>
            <li class="divider"></li>
            <li><a href="#">Create CLAR Communication</a></li>
        </ul>
    </li>
    <li>
    	<a href="#" data-toggle="tooltip" data-placement="right" title="Settings"><span class="glyphicon glyphicon-cog"></span></a>
    </li>
</ul>