/* Search style sheet

This stylesheet addresses the 'Search' styles,
along with associated media queries.

*/

$pull-put-width : 300px;

.search-wrapper {
  position:relative; 
  float:left;
  width:100%;
  height:100%;
}

.pull-out {
  position:absolute;
  z-index:0;
  width:$pull-put-width;
  height:100%;
  background:darken($light-grey, 5%);
  @include transition(0.3s);
  
  a {
    margin:10px 0;
    &.pull {
      float:left;
      display:block;
      color:$dark-grey;
      width:40px;
      height:40px;
      line-height:40px;
      text-align:center;
      text-decoration:none;
      margin:0 0 0 -40px;
      background:darken($light-grey, 5%);
    }
  }
  
  &.slide-in {
    transform: translate(-$pull-put-width, 0);
    -webkit-transform: translate(-$pull-put-width, 0);
    -moz-transform: translate(-$pull-put-width, 0);
    -ms-transform: translate(-$pull-put-width, 0);
    -o-transform: translate(-$pull-put-width, 0);
  }
  
  &.expand {
    width:120%;
    .presearch {
      background:$white;
      float:left;
      clear:both;
      margin-left:20px;
    }
    .dashboard {
      width:1110px;
      height:700px;
    }
  }
  
  header {
    padding:20px;
  }
  
}/* pull-put */

.presearch {
    width:$pull-put-width;
    @include transition(0.3s);
  }
  
.presearch-field {
  float:left;
  padding:10px 20px;
  width:100%;
  margin:0;
  
  &.selected {
    background:$white;
  }
  
  p {
    float:left;
    display:block;
    max-width:50%;
    color:$dark-grey;
  }
  
}/* presearch-field */

.search-terms {
  float:right;
  width:50%;
  .search-term {
    float:right;
    position:relative;
    background:darken($mid-grey, 5%);
    padding:0 5px 0 0;
    height:30px;
    line-height:30px;
    text-align:right;
    margin-bottom:-1px;
    clear:both;
    max-width:100%;
    font-size:smaller;
    font-weight:bold;
    color:$white;
    border:1px solid darken($mid-grey, 10%);
    cursor:pointer;
    
    &.current-search {
      background:#00CC00;
    }
    
    span.unread {
      position:absolute;
      left:0;
      height:28px;
      background:$white;
    }
  }
}

.search-content {
  position:absolute;
  right:0;
  width:100%;
  height:100%;
  z-index:2;
  background:url(../images/search.png) no-repeat $white;
  background-size:100%;
  @include transition(0.3s);
  
  p { /* temp classes for display 
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 300px;
    left: 50%;
    background: yellow;
    padding: 20px;*/
  }
  
  &.shrink {
    width:5%;
    background:none;
    p {
      display:none;
    }
  }
  
  .col {
    float:left;
    margin:0;
    height:100%;
    overflow:hidden;
  }
  
  .query-builder {
    padding:15px;
    width:30%;
    background:$white;
  }
  
}

.query-builder {
  position:relative;
  header {
    float:left;
    clear:both;
    width:100%;
    .navigation {
      float:left;
      a {
        margin:0;
        color:$black;
        &:hover {
          color:$mid-grey;
        }
      }
    }
    h4 {
      float:left;
      display:block;
      margin:0;
      padding:0;
      border:none;
      width:auto;
    }
    &>a {
      color:$black;
      .glyphicon {
        margin-left:10px;
        &.marked {
          color:#CCCC00;
        }
      }
      &:hover {
        text-decoration:none;        
      }     
    }
    input[type="text"] {
      border:1px solid transparent;
      -webkit-appearance:none;
      -moz-appearance:none;
      cursor:text;
      @include transition(0.4s);
      color: $mid-grey;
      padding:2px 5px;
      font-size:11px;
      font-style:italic;
      &:hover {
        border:1px solid lighten($mid-grey, 10%);
      }
    }
  }//header
  &>h4, h6 {
    float:left;
    display:block;
    width:100%;
    border-bottom:1px dotted $light-grey;
    padding-bottom:4px;
    margin-top:15px;
    margin-bottom:15px;
    cursor:pointer;  
  }
  section {
    float:left;
    width:100%;
    ul {
      list-style:none;
      padding:0;
      li {
        margin:2px 0;
      }
    }   
    h6 {
      color:darken($mid-grey, 15%);
      &:before {
        float:left;
        content:"^";     
        font-size:14px;
        width:15px;
        height:15px;
        line-height:15px;
      }   
    }   
    .search-param {
      width:100%;
      float:left;
      margin-bottom:15px;
      p {
        float:left;
        margin:1px 10px 0 0;
      }
      button {
        float:left;
        min-width:50px;
        text-align:left;
        margin-right:5px;
        @include transition(0.4s);
        .dismiss {
          float:right;
        }
        &:hover {
          background:darken($mid-grey, 10%);
        }
        &.btn-default {
          opacity:0;
          &:hover {
            background:$white;
            border-color:$light-blue;
          }
        }
      }
      &.hover {
        button {
            &.btn-default {
            opacity:1;
          }
        }
      }
    }// .search param
    ul.view {
      margin:0 0 15px 0;
      padding:0;
      li {
        display:inline-block;
        margin-right:25px;
        a {
          color:$dark-grey;
          @include transition(0.5s);
          &:hover {
            text-decoration:none;
            color:$black;
          }
        }
        &.active {
          border-bottom:3px solid $dark-grey;
        }
      }
    }// ul.view
  }
  footer {
    position:absolute;
    bottom:0;
    width:90%;
    padding:15px 0 30px 0;
    background:$white;
  }
} //./query builder 
.concept-mode {
  display:none;
  position: relative;
  float: left;
  height: 585px;
  width: 100%;
  overflow:auto;
  &.active {
    display:block;
  }
  &.list-view {
    float:left;
    overflow:auto;
  }
  &.table-view, &.cl-view {
    background:$light-grey;
    position:relative;
    //temp class for placeholder text
    p {
      padding:10px;
      color:$white;
      background:$dark-grey;
      display:block;
      position:absolute;
      max-width:230px;
      top:200px;
      left:50px;
    }
  }
}

.concept-group {
  float:left;
  width:100%;
}

ul.highlights-list {
  list-style:none;
  padding:0;
  &>li {
    padding:4px 0;
    @include transition(0.5s);
    &:hover {
      background:lighten($light-grey, 5%);
      .action-group {
        opacity:1;
      }
    }
    input[type="checkbox"] {
      margin-right:5px;
      -webkit-appearance:none;
      -moz-appearance:none;
      width:10px;
      height:10px;
      border:1px solid $mid-grey;
    }
    input[class="new"] {
      margin-right:5px;
      -webkit-appearance:none;
      -moz-appearance:none;
      border:1px solid $mid-grey;
    }
    .picker {
      float:right;
      display:block;
      ul{
        border:1px solid $mid-grey;
        padding:0 0 0 2px;
        height:18px;
        li {
          width:12px;
          height:12px;
          display:inline-block;
          margin-right:2px;
        }
      }     
    }
    &>span:first-of-type {
      min-width:55%;
      display:inline-block;
      padding:2px 0 2px 5px;
      cursor:pointer;
    }
    em.version {
      color:$mid-grey;
      margin-left:5px;
    }
  }
  
  &.second {
    li {
      padding-left:42px;
      position:relative;
    }
    input[type="checkbox"] {
      position:absolute;
      left:0;   
    }
  }
  .action-group {
    display:block;
    opacity:0;
    float:right;
    margin:4px 4px 0 0;
    @include transition(0.4s);
    a {
      float:left;
      margin:0 4px;
      span {
       
      }    
    }
  }
}/* highlights list */
 
.query-filter {
  width:18%;
  background:url(../images/filters.jpg) no-repeat $white;
  border-left:1px dotted $mid-grey;
  border-right:1px dotted $mid-grey;
}//./filter

.query-results {
  width:52%;
  background:url(../images/search-content.jpg) no-repeat $white;
}//./results

/* dashboard */
.dashboard {
  float:left;
  display:none;
  background:url(../images/dashboard.jpg) no-repeat;
  background-size:100%;
}



/* popover styles */

.pop {
  width:100%;
  float:left;
  padding: 15px;
  background:$white;
  header {
    width:200px;
    margin:0 0 15px 0;
    h4 {
      margin:0;
      float:left;
    }
    .links {
      float:right;
      margin-top:5px;
      span {
        float:left;
        margin:0;
      }
    }
  }
}

.container-main { 
  @include transition(0.3s); 
}

.nudge { /* Applied to container-main */
  transform: translate(($pull-put-width/2), 0);
  -webkit-transform: translate(($pull-put-width/2), 0);
  -moz-transform: translate(($pull-put-width/2), 0);
  -ms-transform: translate(($pull-put-width/2), 0);
  -o-transform: translate(($pull-put-width/2), 0);
}

