// base colours
$black: #000;
$white: #fff;
$dark-grey: #666;
$mid-grey: #ccc;
$light-grey: #eee;

$orange: #f57020;
$green: #46a52d;
$blue: #20a7f5;
$purple: #aa56b9;

//background colours
$light-yellow: #FFFDD0;
$light-green: #D0F0C0;
$light-orange: #FADFAD;
$light-purple: #B19CD9;
$light-red: #FF6961;
$light-blue: #779ECB;

//layout sizing
$window-height: 100%;

$container-main-width: 80%;
$container-single-view-max-width: 1200px;
$container-dual-view-max-width: 1800px;

//typography
$smaller :65%;
