<!-- ********* on-object area ********** -->
                                    	
<div class="oo-menu">
	<ul>
		<li><a href="#Item1">+ Search concept</a></li>
		<li><a href="#Item2">Objection</a></li>
		<li><a href="#Item3">Tag/Comment</a></li>
		<li><a href="#Item4">Map</a></li>
		<li><a href="#Item3">more <span class="caret"></span></a></li>
	</ul>
	<div class="secondary dropdown" id="Item1">
		<span>
			<small>Add as new search concept</small><br />		
			<label class="search-term"><input type="checkbox" value="" checked>Voice reading</label>
			<span class="colour-picker">
				<span class="caret"></span>
				<ul>
					<li class="light-orange">&nbsp;</li>
					<li class="light-green">&nbsp;</li>
					<li class="light-yellow">&nbsp;</li>
					<li class="light-red">&nbsp;</li>
					<li class="light-blue">&nbsp;</li>
					<li class="light-purple">&nbsp;</li>
				</ul>
			</span><!-- /.colour-picker -->
		</span><br />
		<span>
			<small>Or a synonym of:</small><br />		
			<label class="light-yellow"><input type="checkbox" value="">spoken query</label><br />
			<label class="light-green"><input type="checkbox" value="">text-to-speech</label><br />
			<label class="light-orange"><input type="checkbox" value="">audible information</label>
		</span>
		
		<span>
			<button class="btn btn-xs btn-primary btn-add">Add</button>
			<button class="btn btn-xs btn-default">Cancel</button>
		</span>				
	</div><!-- /#item1 -->
	<div class="secondary" id="Item2">
		<small>Item 2</small>
	</div>     		
</div><!-- /.oo-menu -->


<!-- ********* /on-object area ********* -->
<div class="screen-one" style="height:100%;">
        <!-- ****** Highlights and annotations bar ****** -->
        <div class="container highlights-annotations-bar">
            <!-- The highlights/annotations and VIN bar is loaded in here -->	
        </div><!-- /.highlights-annotations-bar -->

        <!-- ****** Document area ****** -->
        <div class="container document-area">
            <div class="header">
				<!-- The filters area is loaded in here -->	
            </div><!-- /.header -->

            <!-- ****** Main wrapper for inner content ***** -->
            <div class="content-main-wrapper">

                <div class="contextual">

                    <div class="btn-group-vertical">
                        <div class="dropdown menu-btn">
                            <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"><a href="#"><span class="glyphicon glyphicon-th-large"></span> </a><b class="caret"></b> </button>
                            <ul class="dropdown-menu push-right" role="menu">
                                <li role="presentation" class="dropdown-header">Application</li>
                                <li><a href="#"><span class="glyphicon glyphicon-comment"></span> Description</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-signal"></span> Figures</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-asterisk"></span> Embodiments</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-folder-open"></span> Original filing</a></li>
                                <li class="divider"></li>
                                <li role="presentation" class="dropdown-header">Prior art</li>
                                <li><a href="#">D1</a></li>
                                <li><a href="#">D2</a></li>
                                <li><a href="#">D3</a></li>
                                <li><a href="#">D4</a></li>
                                <li class="divider"></li>
                                <li role="presentation" class="dropdown-header">Office actions</li>
                                <li><a href="#" id="comm-draft">Communications draft</a></li>
                            </ul>
                        </div>
                        <div class="btn-group-vertical secondary-content">
                            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Description"><span class="glyphicon glyphicon-comment"></span></button>
                            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Figures"><span class="glyphicon glyphicon-signal"></span></button>
                            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Embodiments"><span class="glyphicon glyphicon-asterisk"></span></button>
                            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Original filing"><span class="glyphicon glyphicon-folder-open"></span></button>
                            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Communications draft"><span class="glyphicon glyphicon-pencil"></span></button>
                        </div>
                    </div>

                </div><!-- nav-left -->

                <div class="row" id="view-screen-reading">
                    <!-- The main document is loaded in here -->	
                </div>

            </div><!-- /.content-main-wrapper -->

        </div><!-- /.document-area -->
</div><!-- /.screen-one -->
<div class="screen-two">
    <div class="content-secondary-wrapper">
        <header>
            <h5>Communications draft</h5>
            <button class="close"><span class="glyphicon glyphicon-remove"></span></button>
        </header>
        <div class="comms">

        </div>
    </div>
</div><!-- /.screen-two */ -->