<div class="search-wrapper">
	<div class="pull-out">
		<a class="pull" href="#">SH »</a>
		<header>
			<h4>Search History</h5>
			<br />
			<h5 class="pull-left">Presearch</h6>
			<a href="#" id="dashboard" class="pull-right">Dashboard</a>
		</header>
		<section class="presearch">
			<div id="pop" style="display:none;"></div>
			<div class="presearch-field">
				<p>Concepts</p>
				<div class="search-terms">
					<div class="search-term" rel="search1" style="width:20%"><span class="unread" style="width:10%">&nbsp;</span>PL</div>
					<div class="search-term" rel="search2" style="width:40%"><span class="unread" style="width:10%">&nbsp;</span>NPL</div>
				</div>
			</div><!-- /.presearch field -->
			<div class="presearch-field">
				<p>Applicant and Inventors</p>
				<div class="search-terms">
					<div class="search-term" rel="search3" style="width:40%"><span class="unread" style="width:10%">&nbsp;</span>PL</div>
					<div class="search-term" rel="search4" style="width:60%"><span class="unread" style="width:10%">&nbsp;</span>PL</div>
					<div class="search-term" rel="search5" style="width:20%"><span class="unread" style="width:10%">&nbsp;</span>PL</div>
				</div>
			</div><!-- /.presearch field -->
			<div class="presearch-field">
				<p>Classes</p>
				<div class="search-terms">
					<div class="search-term" rel="search6" style="width:40%"><span class="unread" style="width:10%">&nbsp;</span>PL</div>
					<div class="search-term" rel="search7" style="width:50%"><span class="unread" style="width:10%">&nbsp;</span>PL</div>
					<div class="search-term" rel="search8" style="width:30%"><span class="unread" style="width:10%">&nbsp;</span>PL</div>
					<div class="search-term" rel="search9" style="width:30%"><span class="unread" style="width:10%">&nbsp;</span>PL</div>
					<div class="search-term" rel="search10" style="width:40%"><span class="unread" style="width:10%">&nbsp;</span>PL</div>
				</div>
			</div><!-- /.presearch field -->
			<div class="presearch-field">
				<p>Combi</p>
				<div class="search-terms">
					<div class="search-term" rel="search11" style="width:20%"><span class="unread" style="width:10%">&nbsp;</span>PL</div>
					<div class="search-term" rel="search12" style="width:40%"><span class="unread" style="width:10%">&nbsp;</span>NPL</div>
				</div>
			</div><!-- /.presearch field -->
			<div class="presearch-field">
				<p>Find similar</p>
				<div class="search-terms">
					<div class="search-term" rel="search13" style="width:20%"><span class="unread" style="width:10%">&nbsp;</span>PL</div>
					<div class="search-term" rel="search14" style="width:40%"><span class="unread" style="width:10%">&nbsp;</span>NPL</div>
				</div>
			</div><!-- /.presearch field -->
		</section>
		<section class="dashboard">
			
		</section><!-- /.dashboard -->
	</div><!-- pull out -->
	<div class="search-content">
		<div class="col query-builder">
			<header>
				<div class="navigation">
					<a href="#"><span class="glyphicon glyphicon-chevron-left">&nbsp;</span></a>
					<a href="#"><span class="glyphicon glyphicon-chevron-right">&nbsp;</span></a>
				</div>					
				<h4>Q13</h4>
				<a href="#" class="mark-query" data-toggle="tooltip" data-placement="right" title="Mark query">
					<span class="glyphicon glyphicon-star-empty"></span>
				</a>
				<input type="text" class="query-term">				
			</header>
			<h4 data-toggle="collapse" data-target=".quick-search">Quick search</h4>
			<section class="quick-search collapse in">							
				<div class="search-param">
					<p class="small">Search on:</p>
					<button class="btn btn-xs">G <span class="dismiss">x</span></button>
					<button class="btn btn-xs">PL <span class="dismiss">x</span></button>
					<button class="btn btn-xs btn-default">NPL <span class="dismiss">x</span></button>
					<button class="btn btn-xs btn-default">D <span class="dismiss">x</span></button>
				</div><!-- search param -->				
				<div class="input-group">
				  <input type="text" class="form-control" placeholder="Enter keywords">
				  <span class="input-group-addon">GO</span>
				</div><!-- input group -->
			</section><!-- /.quick-search -->
			<h4 data-toggle="collapse" data-target=".concept-search">Concept search</h4>
			<section class="concept-search collapse in">			
				<ul class="view">
					<li class="active"><a title="list-view" href="#">List</a></li>
					<li><a title="table-view" href="#">Table</a></li>
					<li><a title="cl-view" href="#">Command line</a></li>
				</ul>
				<div class="search-param">
					<p class="small">Search on:</p>
					<button class="btn btn-xs">G <span class="dismiss">x</span></button>
					<button class="btn btn-xs">PL <span class="dismiss">x</span></button>
					<button class="btn btn-xs btn-default">NPL <span class="dismiss">x</span></button>
					<button class="btn btn-xs btn-default">D <span class="dismiss">x</span></button>
				</div><!-- search param -->
				<div class="concept-mode active list-view">				
					<h6 data-toggle="collapse" data-target=".queryhighlights">Concepts</h6>
					<div class="concept-group queryhighlights collapse in">	
			    		<h5>Q | H</h5>
			    		<ul class="highlights-list main">
			    			<li>
			    				<input type="checkbox">
			    				<input type="checkbox" class="checkbox-highlight">
			    				<span class="light-orange">Voice command</span>
			    				<em class="version small">v3</em>
			    				<span class="action-group">
			    					<a href="#" class="small" data-toggle="tooltip" data-placement="top" title="Hide">
			    						<span class="glyphicon glyphicon-eye-close"></span>
			    					</a>
			    					<a href="#" class="small" data-toggle="tooltip" data-placement="top" title="Edit">
			    						<span class="glyphicon glyphicon-pencil"></span>
			    					</a>
			    					<a href="#" class="small" data-toggle="tooltip" data-placement="top" title="Delete">
			    						<span class="glyphicon glyphicon-remove-circle"></span>
			    					</a>
			    				</span>
			    			</li>
			    			<li>
			    				<input type="checkbox">
			    				<input type="checkbox" class="checkbox-highlight">
			    				<span class="light-green">text-to-speech</span>
			    				<em class="version small">v3</em>
			    				<span class="action-group">
			    					<a href="#" class="small" data-toggle="tooltip" data-placement="top" title="Hide">
			    						<span class="glyphicon glyphicon-eye-close"></span>
			    					</a>
			    					<a href="#" class="small" data-toggle="tooltip" data-placement="top" title="Edit">
			    						<span class="glyphicon glyphicon-pencil"></span>
			    					</a>
			    					<a href="#" class="small" data-toggle="tooltip" data-placement="top" title="Delete">
			    						<span class="glyphicon glyphicon-remove-circle"></span>
			    					</a>
			    				</span>
			    			</li>
			    			<li>
			    				<input type="checkbox">
			    				<input type="checkbox" class="checkbox-highlight">
			    				<span class="light-blue">spoken query</span>
			    				<em class="version small">v3</em>
			    				<span class="action-group">
			    					<a href="#" class="small" data-toggle="tooltip" data-placement="top" title="Hide">
			    						<span class="glyphicon glyphicon-eye-close"></span>
			    					</a>
			    					<a href="#" class="small" data-toggle="tooltip" data-placement="top" title="Edit">
			    						<span class="glyphicon glyphicon-pencil"></span>
			    					</a>
			    					<a href="#" class="small" data-toggle="tooltip" data-placement="top" title="Delete">
			    						<span class="glyphicon glyphicon-remove-circle"></span>
			    					</a>
			    				</span>
			    			</li>
			    			<li>
			    				<input type="checkbox">
			    				<input type="checkbox" class="checkbox-highlight">
			    				<span class="light-yellow">navigation</span>
			    				<em class="version small">v3</em>
			    				<span class="action-group">
			    					<a href="#" class="small" data-toggle="tooltip" data-placement="top" title="Hide">
			    						<span class="glyphicon glyphicon-eye-close"></span>
			    					</a>
			    					<a href="#" class="small" data-toggle="tooltip" data-placement="top" title="Edit">
			    						<span class="glyphicon glyphicon-pencil"></span>
			    					</a>
			    					<a href="#" class="small" data-toggle="tooltip" data-placement="top" title="Delete">
			    						<span class="glyphicon glyphicon-remove-circle"></span>
			    					</a>
			    				</span>
			    			</li>
			    			<li>
			    				<input type="checkbox">
			    				<input type="checkbox" class="checkbox-highlight">
			    				<span class="light-red">hyperlink</span>
			    				<em class="version small">v3</em>
			    				<span class="action-group">
			    					<a href="#" class="small" data-toggle="tooltip" data-placement="top" title="Hide">
			    						<span class="glyphicon glyphicon-eye-close"></span>
			    					</a>
			    					<a href="#" class="small" data-toggle="tooltip" data-placement="top" title="Edit">
			    						<span class="glyphicon glyphicon-pencil"></span>
			    					</a>
			    					<a href="#" class="small" data-toggle="tooltip" data-placement="top" title="Delete">
			    						<span class="glyphicon glyphicon-remove-circle"></span>
			    					</a>
			    				</span>
			    			</li>
			    			<span id="#load"></span>
			    		</ul>
			    		<button id="add-new" class="btn btn-xs btn-link"><span class="glyphicon glyphicon-plus"></span> Add new</button>
			    		<button id="show-hidden" class="btn btn-xs btn-link"><span class="glyphicon glyphicon-eye-close"></span> Show hidden</button>		    		
			  		</div><!-- queryhighlights -->
			  		<h6 data-toggle="collapse" data-target=".concept-group.classes">Classes</h6>
			  		<div class="concept-group classes collapse in">
			  			<ul>
			    			<li>
			    				<input type="checkbox">
			    				<span>G06F/C/LOW</span>			    				
			    			</li>
			    			<li>
			    				<input type="checkbox">
			    				<span>G06F17/30</span>			    				
			    			</li>
			    		</ul>
			 		</div><!-- concept group -->
			 		<h6 data-toggle="collapse" data-target=".concept-group.metadata">Metadata</h6>
			  		<div class="concept-group metadata collapse in">
			  			<ul>
			    			<li>
			    				<input type="checkbox">
			    				<span>applicant: Apple Inc.</span>			    				
			    			</li>
			    			<li>
			    				<input type="checkbox">
			    				<span>inventor: FLEIZACH, Christopher</span>			    				
			    			</li>
			    			<li>
			    				<input type="checkbox">
			    				<span>inventor: GRUBER, Thomas</span>			    				
			    			</li>
			    		</ul>
			 		</div><!-- concept group -->
			 		<h6 data-toggle="collapse" data-target=".concept-group.preparations">Preparations</h6>
			  		<div class="concept-group preparations collapse in">
			  			<ul>
			    			<li>
			    				<input type="checkbox">
			    				<span>find similar on Application Abstract</span>			    				
			    			</li>
			    		</ul>
			 		</div><!-- concept group -->
			  	</div><!-- list-view -->
			  	<div class="concept-mode table-view">
			  		<p>This is the table view (placeholder)</p>
			  	</div>
			  	<div class="concept-mode cl-view">
			  		<p>This is the command line view (placeholder)</p>
			  	</div>
			</section><!-- /.concept-search -->
			<footer>
				<button class="btn btn-sm btn-default">GO</button>
				<a href="#" class="pull-right small" data-toggle="modal" data-backdrop="false" data-target=".modal">See query syntax</a>
				<div class="modal fade">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				        <h4 class="modal-title">Query syntax</h4>
				      </div>
				      <div class="modal-body">
				        <p>VOICE W COMMAND?) 3D (QUERY OR SEARCH)' ,'(VOICE W
						￼￼OR AUDI????) W COMMAND?)‘ '(VOICE W BROW+)' ((VOICE+ OR AUDI+ OR SPEECH+ OR READ+) 2D (PORTION OR SE[CT,X]ION OR
						￼CHAPTER OR PART))' META_DATA)'</p>
				      </div>
				    </div><!-- /.modal-content -->
				  </div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
			</footer>
		</div><!-- /.query-builder -->
		<div class="col query-filter">
			
		</div><!-- /.filter -->
		<div class="col query-results">
			
		</div><!-- /.results -->
	</div><!-- /.search-content -->
</div><!-- /.search-wrapper -->

