<div class="tag-terms">
	<a class="access-link active">Tags</a>
	<a class="access-link">Hints</a>
	
	<br clear="all" />
	
	<a class="filter active">Unseen (24)</a>
	<a class="filter">All</a>
	
	<br clear="all" />
	
	<ul>
        <li><a href="#">Viewing History</a></li>
        <li><a href="#">Dossier Related (10)</a></li>
        <li><a href="#">Printed (8)</a></li>
        <li><a href="#">Mapped (2)</a></li>
	</ul>
	
	<ul>
		<li><a href="#">X Document (1)</a></li>
        <li><a href="#">Y Document (2)</a></li>
        <li><a href="#">A Document (1)</a></li>
        <li><a href="#">toothbrush (1)</a></li>
        <li><a href="#">channel in the head (1)</a></li>
        <li><a href="#">store of oral care (1)</a></li>
	</ul>
</div><!-- /.tag-terms -->

<div class="screen-one">
	<div class="container">
		<div class="header">
			<h4>Unseen</h4>
			<div class="header-right">
				
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 tag-category">
				<h5>Oral care toothbrush</h5>
				<div class="bl">
					<div class="tag-term">channel in the head</div>
					<div class="stars"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></div>
				</div>					
			</div>
			<div class="col-md-2">
				<div class="panel panel-default">
				  <div class="panel-heading">Printed</div>
				  <div class="panel-body">
				   Q4
				  </div>
				</div><!-- /.panel -->
			</div><!-- /.col -->
			<div class="col-md-4">
				 <div class="annotation">
			        <p class="small">..when in contact with tissues or surfaces of a mouth of a user... The oral care implement may also include a soft tissue cleaner provided...</p>
			    </div>
			</div><!-- /.col -->
		</div><!-- /.row -->
		<br clear="all" />
		<div class="row">
			<div class="col-md-6 tag-category">
				<h5>Toothbrushes</h5>
				<div class="bl">
					<div class="tag-term">toothbrush</div>
					<div class="tag-term">channel in the head</div>
					<div class="stars"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></div>
				</div>					
			</div>
			<div class="col-md-2">
				<div class="panel panel-default">
				  <div class="panel-heading">Mapped</div>
				  <div class="panel-body">
				   Q3
				  </div>
				</div><!-- /.panel -->
			</div><!-- /.col -->
			<div class="col-md-4">
				 
			</div><!-- /.col -->
		</div><!-- /.row -->
		<br clear="all" />
		<div class="row">
			<div class="col-md-6 tag-category">
				<h5>Oral care dispenser and oral care system implement the same</h5>
				<div class="bl">
					<div class="tag-term">channel in the head</div>
				</div>					
			</div>
			<div class="col-md-2">
				<div class="panel panel-default">
				  <div class="panel-body">
				   Q3
				  </div>
				</div><!-- /.panel -->
			</div><!-- /.col -->
			<div class="col-md-4">
				 <div class="annotation">
			        <p class="small">..when in contact with tissues or surfaces of a mouth of a user... The oral care implement may also include a soft tissue cleaner provided...</p>
			    </div>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->	
</div><!-- /.screen-one -->
